# --- Entornos Virtuales ---
# No queremos subir las librerías instaladas
venv/
venv_rasa/
venvls/
ENV/
.venv/
.venvls/

# --- Archivos de Rasa ---
# Los modelos entrenados son archivos pesados (.tar.gz) y cambian en cada entrenamiento
models/
.rasa/

# --- Archivos de Base de Datos y Logs locales ---
database/mariadb_data/
database/mongo_data/
*.log

# --- Archivos de Configuración Local y Secretos ---
.env
.env.production
credentials.yml

# --- Archivos de Sistema y Editores ---
.idea/
.vscode/
__pycache__/
*.py[cod]
.DS_Store
*.swp

# --- Backups locales ---
backups/

# --- Documentación Interna (TFG) ---
docs/

# --- Reportes y Logs Dinámicos de Sostenibilidad ---
emissions.csv
/actions/emissions.csv
emissions_tracker/
